.main-screen, .info-screen, .interview-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #5892ff;
    overflow-y: none;
    z-index: 0;
}

.question-box {
    display: flex;
    width: 100%;
    max-height: 70vh;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(120, 120, 120, 0.7);
    overflow-y: scroll;
    scrollbar-width: none;
    --bs-accordion-body-padding-x: 0.25rem;
}

.restrict-height {
    max-height: 40vh;
    overflow-y: scroll;
}

.label {
    display: block;
    margin: 1%;
    font-size: 1.5vw;
}

.actions {
    position: fixed;
    display: flex;
    top: 2%;
    left: 0;
    width: 100vw;
    height: 13vh;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
    background-color: transparent;
}

.more-actions {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 13vh;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
    background-color: transparent;

}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: transparent;
    z-index: 50;

}
.question-library-window {
    --bs-accordion-btn-padding-x: 0.75rem;
}
.actions button, .more-actions button { 
    background: none;
    border: none;
    color: white;
    z-index: 50;
}

#info-panel, #interview-panel {
    
    display: flex;
    width: 100%;
    max-height: 65vh;
    height: 65vh;
    padding: 2%;
    padding-top: 5%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(120, 120, 120, 0.7);
    overflow-y: scroll;
    scrollbar-width: none;
    --bs-accordion-body-padding-x: 0.25rem;
}

#info-panel {
    padding: 5%;
    padding-top: 10%;
}

.center-blue {
    text-align: center;
    color: #215dce;
    margin-bottom: -2%;
}

.bg-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 205, 0.3);
    padding: 2%;
    padding-left: 5%;
    z-index: 1000;
    margin-top: 2%;
    margin-bottom: 2%;
}

.no-wrap {
    white-space: nowrap;
}

.divider {
    display: flex;
    height: 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 205, 0.5);
    margin-top: 10%;
    margin-bottom: 10%;
}