
.butt, .btn-check:not(:checked) + .btn {
    --bs-accordion-btn-padding-x: 0;
    text-align: left;
    width: 100%;
    border-radius: 0%;
}

.butt:not(:last-of-type), .btn-check:not(:checked) + .btn:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 255, 0.175);
    border-radius: 0%;
}

.hidden {
    display: none;
}  
.checked {
    background-color: #d3d3d3; /* Example: change background color */
    color: #000; /* Example: change text color */
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #9393ff;
    background-color: rgba(255, 255, 0, 0.3);
    border: none;

}

.btn-check:checked + .btn:not(:last-of-type),
.btn.active:not(:last-of-type),
.btn.show:not(:last-of-type),
.btn:first-child:active:not(:last-of-type),
:not(.btn-check) + .btn:active:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 255, 0.175);
}

.flex-end {
    align-self: flex-end;
    margin-right: 2%;
}

.legend.fa-solid {
    color: #a0a0ff
}

#spinner-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* display: flex; */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    /* background-size: cover; */
    z-index: 5000;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    color: blue;
    z-index: 5001;
    position: absolute;
    display: block;
    /* transform: translate(-50%, -50%); */
    /* background-color: rgba(0,0,0,0.8); */
}