* {
    padding: 0;
    margin: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}


*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

*:focus {
    outline: none;
}

html {
    background-color: #5892ff;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #5892ff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    object-fit: cover;
    display: flex;
    margin: 0;
    font-size: 1.5vw;
}

.hidden {
    display: none;
}

.goodbye {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: max(16px, 3vw);
    height: 100vh;
    width: 100vw;
    background-color: #5892ff;
    overflow-y: none;
    z-index: 0;
}

#spinner-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* display: flex; */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5000;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    color: blue;
    z-index: 5001;
    position: absolute;
    display: block;
}