* {
    padding: 0;
    margin: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}


*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5892ff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    object-fit: cover;
    display: flex;
    margin: 0;
    font-size: 1.5vw;
}

.hidden {
    display: none;
}
